<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahala.messenger"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.LOCATION"
        android:required="false" />


    <permission
        android:name="com.yahala.messenger.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.yahala.messenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.PORTRAIT"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />


    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- map -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.yahala.messenger.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.yahala.messenger.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed to route the audio to the bluetooth headset if available -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- SIP -->
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="false" />

    <application
        android:name="com.yahala.ui.ApplicationLoader"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.TMessages.Start">

        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAIEbYBauejd9h37cTJ0d9Rh-U6dH9jX5g" /> wael.jks AIzaSyD02H03bAbdLb6EPXPmp_xDtta7tM8LyKA debug version-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBSAPT6n0V_Q7cny8fkinOzX6gv82OjS3E" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--com.yahala.ui.LaunchActivity-->

        <!--
                <activity android:name="org.appspot.apprtc.ConnectActivity" android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <data android:host="apprtc.appspot.com" android:scheme="https"/>
                    <data android:host="apprtc.appspot.com" android:scheme="http"/>
                 </intent-filter>
            </activity>
                -->
        <activity
            android:name="org.appspot.apprtc.SettingsActivity"
            android:label="@string/Settings"></activity>

        <activity
            android:name="org.appspot.apprtc.CallActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullUser"></activity>


        <activity
            android:name="com.yahala.ui.LaunchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"><!--adjustResize-->

            <!-- -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.yahala.messenger.android.profile" />
            </intent-filter>
        </activity>
        <activity android:name="com.yahala.ui.StickersActivity">
            <intent-filter>
                <action android:name="info.guardianproject.emoji.STICKER_PACK" />
            </intent-filter>

        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name="com.yahala.android.StickersActivity">
            <intent-filter>
                <action android:name="com.yahala.os.emoji.STICKER_PACK" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.yahala.ui.UnlockActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.yahala.ui.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>


        <activity
            android:name="com.yahala.ui.CountrySelectActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TMessages"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.yahala.ui.IntroActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.yahala.android.trustStore.MemorizingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <!--  <activity android:name="com.yahala.sip.tutorials.TutorialLauncherActivity"  />
        <activity android:name="com.yahala.sip.tutorials.TutorialRegistrationActivity"  />
        <activity android:name="com.yahala.sip.tutorials.TutorialBuddyStatusActivity"  />
        <activity android:name="com.yahala.sip.tutorials.TutorialChatRoomActivity"  />
        <activity android:name="com.yahala.sip.tutorials.TutorialHelloWorldActivity"  />-->
        <receiver android:name="com.yahala.android.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yahala.android.Internet"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yahala.sip.SipSettings"
            android:label="set_preferences" />
        <RECEIVER
            android:name="com.yahala.sip.IncomingCallReceiver"
            android:label="Call Receiver" />
        <receiver
            android:name=".AppStartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.yahala.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- <receiver android:name="com.yahala.xmpp.receiver.AlarmReceiver" />
        <receiver android:name="com.yahala.sip.KeepAliveHandler" >
       </receiver>-->
        <service
            android:name="com.yahala.xmpp.NotificationsService"
            android:enabled="true" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
    </application>
</manifest>
